# CrowdSec SaaS console enrollment key
CROWDSEC_ENROLL_KEY=change_me_enroll_key

# Base de données PostgreSQL
CROWDSEC_DB_NAME=crowdsec
CROWDSEC_DB_USER=crowdsec
CROWDSEC_DB_PASSWORD=change_me_strong_password
