# Base de données PostgreSQL
DATABASE_NAME=forgejo_db
DATABASE_USER=forgejo_user
DATABASE_PASSWD=change_me_strong_password

# SMTP (Postfix wittnerlab)
MAIL_USER=forgejo-noreply@wittnerlab.com
MAIL_PASSWD=change_me_smtp_password
